<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div>
    <%= form.label :type_offer_id, style: "display: block" %>
    <%= form.collection_select :type_offer_id, TypeOffer.all, :id, :name %>
  </div>

  <div>
    <%= form.label :type_property_id, style: "display: block" %>
    <%= form.collection_select :type_property_id, TypeProperty.all, :id, :name %>
  </div>

  <div>
    <%= form.label :features, style: "display: block" %>
    <%= form.collection_check_boxes :feature_ids, Feature.all, :id, :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.label :area, style: "display: block" %>
    <%= form.number_field :area, required: true %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
