<div id="<%= dom_id property %>">
  <p>
    <strong>User:</strong>
    <%= property.user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= property.user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= property.user.phone %>
  </p>

  <p>
    <strong>Type offer:</strong>
    <%= property.type_offer.name %>
  </p>

  <p>
    <strong>Type property:</strong>
    <%= property.type_property.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

</div>
