<div id="<%= dom_id property %>">
<div class="card">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title">
      <%= property.type_property.name %> en <%= property.type_offer.name %>
    </h5>
    <p class="card-text"><%= property.description %></p>
    <p>
      <strong>Contacto:</strong>
      <%= property.user.name %><br>
      <a href="mailto:<%= property.user.email %>"><%= property.user.email %></a><br>
      <a href="tel:+<%= property.user.phone %>"><%= property.user.phone %></a>
    </p>
    <p>
      <strong>Features:</strong>
      <% property.features.each do |item| %>
        <%= content_tag :span, item.name, class: "tag"  %>
      <% end %>
    </p>

    <p>
      <strong>Area:</strong>
      <%= property.area %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= property.price %>
    </p>
  </div>
</div>



</div>
